#preview {
    max-width: 300px;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 5px;
}

#cropImage {
  max-width:100%;
}

.preview-actions{
  position:absolute;
  bottom :10px;
  right:10px;
  display:flex;
  gap:8px;
  transition:.25s;
}

.position-relative:hover .preview-actions{
  opacity:1;
}

.preview-actions .btn{
  width:38px;
  height:38px;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:0 2px 8px rgba(0,0,0,.2);
}

#cropModal .modal-body {
  height:70vh;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

#previewModalCanvas {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    border: 1px solid #dee2e6;
}

#previewModal .modal-body{
    height:80vh;
    overflow:hidden;
    background:#f8f9fa;

    display:flex;
    justify-content:center;
    align-items:center;
}

#canvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f5f5;
}

#canvasContainer:active{
    cursor:grabbing;
}

#previewModalCanvas {
    pointer-events: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

  #scanGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

#scanGallery .btn-delete {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    padding: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scanGallery .scan-thumb {
    position: relative;
    width: 220px;
    height: 320px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

#scanGallery .thumb-canvas {
    width: 100%;
    height: 240px;

    object-fit: contain;

    border-radius: 6px;
    background: #f8f9fa;
}

#scanGallery .preview-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#scanGallery .btn-delete {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 28px;
    height: 28px;
    padding: 0;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

/* .upload-zone {
    border:2px dashed #0d6efd;
    border-radius:12px;
    padding:50px 20px;
    text-align:center;
    cursor:pointer;
    transition:.25s;
    background:#f8fbff;
}

.upload-zone.dragover {
    background:#e7f1ff;
    border-color:#0a58ca;
    transform:scale(1.01);
}

.upload-icon{
    font-size:60px;
    color:#0d6efd;
} */